<p>
	<%= "Visítenos cuando quiera en: " %>
	<%= link_to "#{root_url}", root_url %>
</p>

<p>
	<%= "Para mas información sobre nuestra página puede consultar nuestra sección de " %>
	<strong>
	<%= link_to 'Preguntas Más Frecuentes', preguntas_frecuentes_url %>
	</strong><br><br>
</p>
<br>

<%= "Equipo " %>
<strong><%= "SUSTENTATOR" %></strong><br>
