<%= form_for post do |f| %>
	<div>
		<%= f.label :Nombre %>
		<%= f.text_field :title, style: 'width: 100%;' %>
	</div>
 <br>
	<div>
		<%= f.label :Descripcion %>
		<%= f.text_area :body, style: 'width: 100%;' %>
	</div>
 <br>
 
	<div>
		<%= f.label :Imagen %>
		<%= f.file_field :image %>
	</div>
 <br>
 
	<% if post.image? %>
		<%= image_tag post.image.thumb.url %>
		<div>
			<%= label_tag :remove_image do %>
				Borra la imagen
				<%= f.check_box :remove_image %>
			<% end %>
		</div>
	<% end %>
 <br>

	<%= f.submit 'Guarda el producto', :class => 'btn-sm btn-primary' %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to 'Ir al listado', posts_path, :class => "btn btn-success" %>
<% end %>