<div class="col-lg-4"></div>
<div class="col-lg-5 well">
	<h4>
		<u>Nombre:</u>
		<%= @post.title %>
		<br>
		<br>
		<u>Descripcion:</u> 
		<strong>
			<%= @post.body %>
		</strong>
	</h4>
	<br>
	<%= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
	<p>
		<%= link_to 'Edita este producto', edit_post_path(@post), :class => "btn-sm btn-primary" %>
		&nbsp;&nbsp;&nbsp;
		<%= link_to 'Ir al listado', posts_path, :class => "btn-sm btn-success" %>
	</p>
</div>